# Ignore all .env files in every stack subfolder
**/.env

# Optional but common companions worth excluding too
*.env.local
.DS_Store
.env.global

# Ignore all secret files (no extensions) in ./secrets/
**/secrets/
